
FIS-experiments/.idea/
route53-failover/.idea/
extension-outages/.idea/

FIS-experiments/volume/
route53-failover/volume/
extension-outages/volume/

FIS-experiments/volume/
route53-failover/volume/
extension-outages/volume/

FIS-experiments/lambda-functions/target/
route53-failover/lambda-functions/target/
extension-outages/lambda-functions/target/

FIS-experiments/lambda-functions/.idea/
route53-failover/lambda-functions/.idea/
extension-outages/lambda-functions/.idea/

FIS-experiments/lambda-functions/.aws-sam/
route53-failover/lambda-functions/.aws-sam/
extension-outages/lambda-functions/.aws-sam/


FIS-experiments/lambda-functions/product-lambda.iml
route53-failover/lambda-functions/product-lambda.iml

FIS-experiments/lambda-functions/lambda-functions.iml
route53-failover/lambda-functions/lambda-functions.iml
